*{
    margin: 0;
    padding: 0;
}
 
@font-face {
    font-family: "gentyDemo";
    src: url('../fonts/GentyDemo-Regular.otf');
}
 
:root{    
    --font-gentyDemo:"gentyDemo", sans-serif;     
}

body{
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
 
    font-family: var(--font-gentyDemo);
    color: white;
}
 
.unbounded_font {
  font-family: "Unbounded", sans-serif; 
}
 
.gluten_font {
  font-family: "Gluten", cursive; 
}

.sol_img {
    filter: grayscale(100%) brightness(200%);
}

.mirror_img {
    transform: scaleX(-1); 
}


/* animation */
.float_animation{
    animation: float_animation 3s linear infinite ;
}

@keyframes float_animation {
    0%,100%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(3%);
    }
}

.cloud_animation{
    animation: cloud_animation 10s linear infinite ;
}

@keyframes cloud_animation {
    0%,100%{
        transform: translateX(10%);
    }
    50%{
        transform: translateX(-10%);
    }
}

.cloud_animation_reverse{
    animation: cloud_animation_reverse 10s linear infinite ;
}

@keyframes cloud_animation_reverse {
    0%,100%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(10%);
    }
}

.rotate_image{
    animation: rotate_image 17s linear infinite ;
}

@keyframes rotate_image {
    0%{
        transform:rotate(0deg) ;
    }
    100%{
        transform:rotate(360deg) ;  
    } 
}
 
.lampion {  
    transform-origin: 50% 4px;
    animation: l15 3s infinite cubic-bezier(0.5,300,0.5,-300);
  }
  @keyframes l15 { 
   100% {transform: rotate(0.05deg)}
  }